In [ ]:
import pandas as pd
dataset = pd.read_json('dataset/financialData.json')

In [4]:
dataset.head()

   sentiment                                              title
0      0.366                      watching for bounce tomorrow
1      0.638        record number of passengers served in 2015
2     -0.494                                    out $NFLX -.35
3      0.460  Looking for a strong bounce Lunchtime rally co...
4      0.403  Very intrigued with the technology and growth ...

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2866 entries, 0 to 2865
Data columns (total 2 columns):
sentiment    2866 non-null float64
title        2866 non-null object
dtypes: float64(1), object(1)
memory usage: 44.9+ KB

In [6]:
dataset.describe()

         sentiment
count  2866.000000
mean      0.079841
std       0.391033
min      -1.000000
25%      -0.285000
50%       0.206000
75%       0.387000
max       1.000000

In [15]:
from sklearn.model_selection import train_test_split
X = dataset['title']
Y = [for sent in dataset['sentiment']]
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)